extends layout

block style
  link(rel="stylesheet", href="/stylesheet/game.css")

block content
  if locals.player
    canvas
    #logs
      #log
        textarea(readonly, disabled)
      form(action="")
        input(type="text", name="message")
        button(type="submit") Отправить
    #upgrades
      .upgrade
        button.upvisibility Улучшить обзор
        p.upvisibility Цена: 50 монет
      .upgrade
        button.upspeed Улучшить скорость
        p.upspeed Цена: 50 монет
      .upgrade
        button.upspeedbullet Улучшить скорость пули
        p.upspeedbullet Цена: 50 монет
      .upgrade
        button.upmax Улучшить дальность полёта пули
        p.upmax Цена: 50 монет
  else
    h1 Зарегистрируйтесь пожалуйста

block script
  if locals.player
    script(src="/socket/socket.io.js")
    script(src="/javascript/game.js")