extends layout

block content
  h1 Регистрация
  include messages
  form(action="/register", method="post")
    p
      input(type="text", name="player[name]", placeholder="Имя")
    p
      input(type="password", name="player[pass]", placeholder="Пароль")
    p
      input(type="submit", value="Зарегестрироваться")